mat-toolbar {
  z-index: 100;
  background-color: var(--mat-sys-surface-container);
  gap: 0.7rem;
}

.toolbar-left,
.toolbar-right {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
  gap: 0.35rem;
}
.toolbar-left {
  overflow: hidden;
}
.toolbar-right {
  justify-content: flex-end;

  @media (max-width: 600px) {
    flex: none;
  }
}
