:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  flex: 1;
  overflow: hidden;
}

::ng-deep .mat-drawer {
  width: 15rem;
  border-right: 1px solid var(--mat-sys-outline-variant);
  background-color: var(--mat-sys-surface-container-low);
  border-radius: 0 !important;
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
