<mat-toolbar>
  <div class="toolbar-left">
    @if (!sidenavOpen()) {
      <button mat-icon-button (click)="onMenuClick()" [attr.aria-label]="'toolbar.menuAriaLabel' | translate">
        <mat-icon>menu</mat-icon>
      </button>
    }
    <div class="search-wrapper">
      <mat-icon class="search-icon">search</mat-icon>
      <input
        class="search-input"
        type="text"
        [placeholder]="'toolbar.search' | translate"
        [value]="searchQuery()"
        (input)="onSearchInput($any($event.target).value)"
        [attr.aria-label]="'toolbar.searchAriaLabel' | translate" />
    </div>
  </div>

  <div class="clock">
    <span class="clock-day">{{ clockDay() }}</span>
    <span class="clock-date">{{ clockDate() }}</span>
    <span class="clock-time">{{ clockTime() }}</span>
  </div>

  <div class="toolbar-right">
    <button mat-icon-button class="avatar-icon-btn" (click)="onProfileClick()" [attr.aria-label]="user()?.displayName ?? ('toolbar.profileAriaLabel' | translate)">
      @if (user()?.photoURL) {
        <img class="avatar" [src]="user()!.photoURL!" [alt]="user()!.displayName ?? 'Avatar'" />
      } @else {
        <span class="avatar-initial">{{ avatarInitial() }}</span>
      }
    </button>
  </div>
</mat-toolbar>
