<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" [opened]="sidenavOpen()" mode="side">
    <app-sidenav
      [selectedSectionId]="selectedSectionId()"
      [sections]="sections()"
      (closeClick)="toggleSidenav()"
      (sectionSelect)="selectSection($event)"
      (newSectionClick)="openNewSection()"
      (editSectionClick)="editSection($event)"
      (deleteSectionClick)="deleteSection($event)"
      (signOutClick)="signOut()"
    />
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar
      (filterChange)="onFilterChange($event)"
      (profileClick)="openProfile()"
      (menuClick)="toggleSidenav()"
      [sidenavOpen]="sidenavOpen()"
    />
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>

